<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <script type="module" th:src="@{/js/index.js}"></script>
    <title>PokeApi</title>
</head>
<body>
    <nav th:replace="~{fragments/general.html :: navbar (isAdmin=${isAdmin}, isUser=${isUser})}"></nav>
    <div class="accordion ms-4 me-4 mt-4" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button th:text="|Filtros de Búsqueda (Resultados encontrados: ${totalPokemons})|" class="accordion-button collapsed pt-1 pb-2 bg-primary fw-semibold rounded-top" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne"></button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse ps-3 pe-3 rounded-bottom" data-bs-parent="#accordionExample">
                <form th:action="@{/filter}" th:object="${searchPokemon}" method="post">
                    <div class="row pt-3 pb-3 m-0">
                        <div class="col-6 col-lg ps-0 ps-lg-3">
                            <label for="nameFilter" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nameFilter" id="nameFilter">
                        </div>
                        <div class="col-6 col-lg pe-0 pe-lg-3">
                            <label for="idFilter" class="form-label">ID</label>
                            <input type="text" th:field="*{idFilter}" class="form-control" name="idFilter" id="idFilter">
                        </div>
                        <div class="col-12 col-lg mx-0 mx-lg-2 mt-4 mt-lg-0 border border-secundary rounded">
                            <div class="row py-3">
                                <div class="col-12 mb-2">
                                    <label for="heightFilterMax" class="form-label">Altura</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Max" name="heightFilterMax"
                                           id="heightFilterMax">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Min" name="heightFilterMin"
                                           id="heightFilterMin">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg mx-0 mx-lg-2 mt-4 mt-lg-0 border border-secundary rounded">
                            <div class="row py-3">
                                <div class="col-12 mb-2">
                                    <label for="weightFilterMax" class="form-label">Peso</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Max" name="weightFilterMax"
                                           id="weightFilterMax">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Min" name="weightFilterMin"
                                           id="weightFilterMin">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="buscar" class="form-label">&nbsp;</label>
                            <button type="submit" class="btn d-block form-control btn-primary" id="buscar">
                                <i class="bi bi-search me-1 mb-1"></i>Buscar
                            </button>
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors()}" class="row pt-3 pb-3">
                        <div class="col">
                            <div class="text-danger">
                                <ul th:each="e : ${#fields.detailedErrors()}">
                                    <li th:text="${e.message}" class="small"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container my-4 border border-secundary rounded" id="containerTable">
        <div class="table-responsive">
            <table class="table table-striped-columns" id="myTable">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Altura</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Experiencia Base</th>
                    <th scope="col">Favorito</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#arrays.isEmpty(listPokemons)}">
                    <td th:colspan="7" class="text-center">Ningun pokemon ha sido encontrado</td>
                </tr>

                <tr th:each="i : ${listPokemons}">
                    <td th:text="${i.id}"></td>
                    <td th:text="${i.name}"></td>
                    <td th:text="${i.height}"></td>
                    <td th:text="${i.weight}"></td>
                    <td th:text="${i.base_experience}"></td>
                    <td>
                        <div class="favorite">
                            <i class="bi" th:classappend="${i.containsId(userFavorites)} ? 'bi-star-fill' : 'bi-star'"></i>
                            <input type="hidden" th:id="|favoriteValue${listPokemons.indexOf(i)}|" th:value="${i.id}">
                        </div>
                    </td>
                    <td><button class="btn pt-0 pb-1 btn-primary" th:form="|pokemonInfoForm${listPokemons.indexOf(i)}|" type="submit">
                        <i class="bi bi-eye-fill"></i></button></td>
                    <form th:action="@{/pokemon/info}" method="get" th:name="|pokemonInfoForm${listPokemons.indexOf(i)}|" th:id="|pokemonInfoForm${listPokemons.indexOf(i)}|">
                        <input type="hidden" name="idInfo" th:value="${i.id}">
                    </form>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container text-center">
            <div class="row align-items-start justify-content-lg-end">
                <div class="col-12 col-lg-auto mb-3 order-2 order-lg-1">
                    <div class="d-flex justify-content-center">
                        <label for="myMultiplier" class="mt-1 me-2" id="labelMultiplier">Items por pagina:</label>
                        <select class="form-select me-2" id="myMultiplier">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-auto order-1 order-lg-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mt-3 mt-lg-0 justify-content-center justify-content-lg-start" id="myPagination"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/general.html :: footer}"></footer>
</body>

</html>